$bkgColor: #ececec;



img{
    max-width: 30%;
    height: auto;

}

.bkg{
    background-color: $bkgColor;
}
#sidebar{
    background-color: #fff;

}
.movebtn{
    transform: translate(-13px,1px);
    min-height: calc(1.5em + 0.75rem );
    outline-style: none;
}
.form-control:focus,.form-control:active {
    outline: 0px 0px !important;
    box-shadow: none !important;
 }
 .searchbar{
     transform: translateX(-200px)!important;
 }
 .check {
  padding: 0px;
}
